body {
	background: url("images/countdown.jpg");
	background-repeat: no-repeat;	
	background-size: cover;
	overflow-wrap: hidden;
	font-family: 'Open-Sans', sans-serif;
	font-size: 18px;
	margin: 0;
	text-align: center;
	line-height: 1.5;
	color: #fff;
}

.main {
	position: relative;
	padding: 1px;
	background: -webkit-linear-gradient(279deg, #fa163fbb 0%, #fa163fbb 30%, #f8b400bb 100%);
	background: -o-linear-gradient(279deg, #fa163fbb 0%, #fa163fbb 30%, #f8b400bb 100%);
	background: linear-gradient(-9deg, #fa163fbb 0%, #fa163fbb 30%, #f8b400bb 100%);
}

.container {
	width: 80%;
	margin: auto;
}

.title {
	font-size: 3.5rem;
	font-weight: 500;
	margin-bottom: 30px;
}

.description {
	margin: auto;
	width: 50%;
}

.email-input-area{
	position: relative;
	width: 400px;
	height: 50px;
	margin: 40px auto;
}

.email-input {
	position: absolute;
	right: 100px;
	left: -10px;
	top: 0px;
	width: 100%;
	height: 100%;
	padding-left: 20px;
	border-radius: 40px;
	border: 0;
	outline: 0;
	transition: all .2s;
	background: #F1F2F3;
	box-shadow: inset 0 0 1px rgba(0, 0, 0, .1), 0px 0px 0px 5px rgba(255, 255, 255, .3);
	border: 1px solid transparent;
}

.email-input:focus {
	border-color: #fa163c;
	box-shadow: inset 0 0 1px rgba(0, 0, 0, .1), 0px 0px 0px 5px #f8f8f866;

}

.submit-btn {
	position: absolute;
	border: none;
	outline: none;
	top: 5px;
	bottom: 2px;
	right: -5px;
	width: 120px;
	text-align: center;
	border-radius: 40px;
	transition: all .3s;
	background: #d86645;
	color: #fff;
}

.submit-btn:hover {
	background: #d85420;
}

.countdown{
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 14px;
}

.countdown-box{
	background: #fff;
	border-radius: 100%;
	width: 50px;
	height: 50px;
	margin: 10px;
	padding: 15px;
	box-shadow: inset 0 0 1px rgba(0, 0, 0, .1), 0px 0px 0px 5px rgba(255, 255, 255, .3);
	border: 1px solid transparent;
}

.countdown-number{
	font-size: 2rem;
	line-height: 1;
	color: #fa4413;
}

.countdown-text{
	font-size: 12px;
	color: #222;
	font-weight: 800;
}


/* Footer Section */
#footer {
	line-height: 1.5;
}

#footer p {
	font-size: 14px;
}

.social-icon{
	border-radius: 100%;
	padding: 15px;
	margin: 30px 5px;
	background: #fff;
	color: #fa4443bb;
}

.social-icon:hover{
	color: #fa2213;
}

.copyright{
	padding: 20px;
	margin-bottom: 20px;
}


@media (max-width: 1240px){
	.title{
		margin-top: 60px;
	}

	.description{
		width: 70%;
	}

	.email-input-area{
		margin: 40px auto;
	}

	#footer{
		margin: 50px auto;
	}
}

@media (max-width: 900px){
	.title{
		margin-top: 80px;
		font-size: 3rem;
	}

	.description{
		width: 80%;
	}

	.email-input-area{
		width: 350px;
		margin: 50px auto;
	}

	.copyright{
	padding: 30px;
	margin-bottom: 60px;
	}

	#footer{
		margin-top: 50px;
	}
}

@media (max-width: 600px){
	body{
		font-size: 16px;
	}

	.container{
		width: 90%;
	}

	.title{
		font-size: 2rem;
	}

	.description{
		width: 95%;
	}

	.countdown-box{
		width: 30px;
		height: 30px;
	}

	.countdown-number{
		font-size: 1.2rem;
		line-height: 0.7;
	}

	.countdown-text{
		line-height: 0.7;
		font-size: 1rem;
	}
	
	.email-input-area{
		width: 300px;
		height: 40px;
	}

	.submit-btn{
		width: 80px;
	}	
}

@media (max-width: 400px){
	body{
		font-size: 14px;
	}

	.title{
		font-size: 1.5rem;
	}

	.countdown-box{
		width: 30px;
		height: 30px;
		margin: 10px;
		padding: 5px;
	}

	.countdown-number{
		line-height: 0.7;
		font-size: 14px;
	}

	.countdown-text{
		margin: 1px;
		font-size: 10px;
	}

	.email-input-area{
		width: 95%;
		height: 40px;
	}

	.submit-btn{
		width: 70px;
	}

	.social-icon{
		padding: 10px;
		margin: 20px 5px;
	}
}
